#cuerpoPagina {
    display: flex;
    justify-content: space-between;
}

div.contenido {
    width: 300px;
}

.portaretratos {
    width: inherit;
}

img.iamges {
    object-fit: scale-down;
}

p.errorViewport {
    display: none;
}

@media only screen and (max-width: 550px) {
    div.contenido {
        display: none;
    }

    p.errorViewport {
        display: inline;
    }
}

#cuerpoPagina:active {
    flex-direction: row-reverse;
}

h2:hover {
    transform: scale(1.25, 1.25);
}

img:active {
    filter: grayscale(100%);
}
